{% extends 'myapp_1/base.html' %}

{% block title %}Обо мне{% endblock %}

{% block content %}
<div>
    "<h1>Приветствую вас!</h1>"
    <p>GeekBrains – образовательный портал. Мы учим людей с нуля осваивать программирование, веб-дизайн, маркетинг и
        другие\
        современные профессии. Проводим онлайн-курсы со стажировкой и бесплатные мастер-классы, развиваем сообщество, \
        сотрудничаем с компаниями по трудоустройству и непрерывно тестируем новые методики для поднятия эффективности\
        обучения. </p>"
</div>
<div>
    "<h3>МЕНЮ</h3>\
        <a href='/'>Главная</a><br>\
        <a href='about/'>Обо мне</a><br>"
</div>
{% endblock %}
